<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Créer un compte</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container_creat">
        <div class="right">
            <div class="wrapper">
                <img src="{{ url_for('static', filename='images/logo_univ.png') }}" alt="Logo Miskatonic" class="top-logo">
                <h1>Créer un compte</h1>
                <form action="{{ url_for('inscription') }}" method="POST">
                    <label for="identif">Nom d’utilisateur</label>
                    <input type="text" id="identif" name="identif" placeholder="Votre futur identifiant" required autocomplete="username">

                    <label for="password">Mot de passe</label>
                    <input type="password" id="password" name="password" placeholder="********" required autocomplete="new-password">

                    <label for="confirm_password">Confirmer le mot de passe</label>
                    <input type="password" id="confirm_password" name="confirm_password" placeholder="********" required autocomplete="new-password">

                    <div class="checkbox-container">
                        <label for="cgu">
                            <input type="checkbox" id="cgu" name="cgu" required>
                            J’accepte les <a href="{{ url_for('cgu') }}">CGU</a> et la politique de confidentialité
                        </label>
                    </div>

                    <button type="submit">Créer un compte</button>
                    <button type="button" onclick="window.location.href='{{ url_for('home') }}'">Annuler</button>
                </form>

                <p class="small">
                    Déjà un compte ? <a href="{{ url_for('home') }}">Se connecter</a>
                </p>

                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="flash-container">
                    {% for message in messages %}
                    <p class="flash-message">{{ message }}</p>
                    {% endfor %}
                </div>
                {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>
</body>

</html>
