<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Générer votre Quiz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container_creat">
    <div class="wrapper">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo Miskatonic" class="top-logo" />
        <h1>Générez des questions supplémentaires pour votre quiz</h1>

        <form method="post" action="{{ url_for('selection') }}">
            <!-- Sujets -->
            <label>Choisissez les sujets :</label>
            {% for suj in sujets if suj %}
                <div class="checkbox-container">
                    <input type="checkbox" id="subject-{{ loop.index }}" name="subject" value="{{ suj }}"
                        {% if suj in selected_subjects %} checked {% endif %}>
                    <label for="subject-{{ loop.index }}">{{ suj }}</label>
                </div>
            {% endfor %}

            <!-- Catégories -->
            <label>Choisissez les catégories :</label>
            {% for cat in categories if cat %}
                <div class="checkbox-container">
                    <input type="checkbox" id="category-{{ loop.index }}" name="category" value="{{ cat }}"
                        {% if cat in selected_categories %} checked {% endif %}>
                    <label for="category-{{ loop.index }}">{{ cat }}</label>
                </div>
            {% endfor %}

            <button type="submit">Visualiser votre quiz</button>
        </form>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash-container">
                {% for message in messages %}
                    <p class="flash-message">{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
        {% endwith %}
    </div>
</div>
</body>
</html>
